<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Patio BBQ - August 14, 2021</mat-card-title>
      <mat-card-subtitle>1055 Bay Ave, Toronto, ON</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Getting together in Toronto for a BBQ with Friends & Family.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/signup']">Sign Up</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Event Coming Soon</mat-card-title>
      <mat-card-subtitle>Somewhere, Ontario</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Potluck
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/signup']">Sign Up</button>
    </mat-card-actions>
  </mat-card>
</div>
