<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Patio BBQ - August 14, 2021</mat-card-title>
      <mat-card-subtitle>1055 Bay Ave, Toronto, ON</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Getting together in Toronto for a BBQ with Friends & Family.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Sign Up</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Event Coming Soon</mat-card-title>
      <mat-card-subtitle>Somewhere, Ontario</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Potluck
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Sign Up</button>
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>
</div>
