div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-card {
  margin: 5px;
  min-width: 400px;
  border-style: none;
  border-radius: 4px;
  background-color: #ebebeb;
}

mat-card-actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card-subtitle{
    font-weight: bold;
    font-size: 1.2em;
}

mat-card-title{
    font-weight: bold;
    font-size: 1em;
}

p{
    font-weight: bold;
    font-size: 1.2em;

}

button{
    font-size: 1.2em;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
