<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Beginners</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card class="card-content-a">
        <div class="beginners">
          <mat-card-header>
            <mat-card-title>Music Theory</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>10 Lessons ($30 ea.)</p>
            <p>16 Lessons ($35 ea.)</p>
          </mat-card-content>
        </div>
      </mat-card>

      <mat-card class="card-content-a">
        <div class="beginners">
          <mat-card-header>
            <mat-card-title>Piano Learning</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>10 Lessons ($35 ea.)</p>
            <p>16 Lessons ($30 ea.)</p>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Advanced</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card class="card-content-b">
        <div class="advanced">
          <mat-card-header>
            <mat-card-title>Music Theory</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>10 Lessons - $35/lesson</p>
            <p>16 Lessons - $30/lesson</p>
          </mat-card-content>
        </div>
      </mat-card>

      <mat-card class="card-content-b">
        <div class="advanced">
          <mat-card-header>
            <mat-card-title>Piano Learning</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>10 Lessons - $45/lesson</p>
            <p>16 Lessons - $40/lesson</p>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h2>Other Services Offered</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="other">
        <p>Wedding Pianist</p>
        <p>Piano Tuning</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
